  <!-- <head>
    <link type="text/css" rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Inquiring Opposum </title>
  </head>
  -->
    <header>
        <div class="header-container">
              <div class="header-logo"> IO </div>
                  <div class="header-title"> Inquiring Oppossum</div>
              <div>
                  <span class="login-button header-nav-right"> Login
                </span>
          </div>
    </header>
    <div class="jumbotron">
        <div class = "jumbo-text"> Your Survey Service Destination
            <div class = "jumbo-sub-text"> We have been making awesome surveys for you since 2016. <br> Sign up now and we'll help you create your first survey! </div>
            </div>
            <span class="signup-form">

<<<<<<< HEAD
=======

>>>>>>> 41e1224ec88379fbdc187b0f9970d82b7f9f2f0a
        <h1>Sign Up!</h1>

<%= render 'form' %>

<!-- <%= link_to 'Back', authors_path %> -->

    </span>
</div>
