
<div class="jumbotron">
    <div class="column-left">
    <div class = "jumbo-text"> Your Survey Service Destination
        <div class = "jumbo-sub-text"> We have been making awesome surveys for you since 2016. <br> Sign up now and we'll help you create your first survey! </div>
    </div>
    </div>
    <div class="column-right"
        <span class="signup-form">
            <h1>Sign Up!</h1>

<%= render 'form' %>

        </span>
    </div>
</div>
