
<h1> Welcome <%= @user.name.capitalize %>!</h1>

<span class ="btn" id="newSurBtn">This should be a button you click to make the new survey form show up.</span>
<span class="btn" id="newQBtn">This button makes a new question appear</span>

<span class="survey-form off" id="newSurvey">
<h1>New Survey</h1>

<%= render 'form' %>
</span><!--ends newSurvey-->

<script>
//I cant figure out where to put this so it works. So I just embedded it in the HTML itself.>
$("#newSurBtn").on("click", function(){
  console.log("I clicked!");
  $("#newSurvey").removeClass("off");
});
</script>

<%= link_to 'Back', surveys_path %>
