.header-container {
    width: 100%;
    height: 55px;
    background: #F5F5F5;
    position: relative;
    padding-top: 1em;
    border-bottom: 1px solid #E5E5E5;
    text-decoration: none;
    color: #333;
    line-height: 20px;
    margin-bottom: 0;
    min-width: 750px;
}

.header-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-top: .2em;
}

.header-logo {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    border: 2px solid rgb(104, 83, 205);
    padding: .1em;
    float: left;
    width: 30px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;

}

$backgroundpurple: rgb(104, 83, 205);
$trellogreen: rgb(75, 192, 103);
$githubblue: #51a7e8;

button {
    background: #97bea1;
}

h1 {
    color:  rgb(95, 208, 103);
    padding-bottom: .5em;
    padding-top: .2em;
    font-size: 2em;
}

.jumbotron {
    border-bottom: 1px solid black;
    height: 400px;
    background: rgb(104, 83, 205);
    padding-right: 10%;
    padding-left: 3%;
    min-width: 750px;
    width: 100%;

}

.jumbo-text{
    margin-top: 3em;
    width: 18em;
    margin-left: 15% auto;
    font-size: 3em;
    color: #EEE;
    //padding-top: 1em;
    // border: 1px solid black;
    display: inline-block;
}

.column-right {
    width: 30%;
    float: right;
    margin-top: -25em;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 5em;
    z-index: 1;
}

.column-left {
    max-width: 650px;
    height: 390px;

}

input {
    width: 80%;
    border: 1.5px solid black;
    height: 25px;
    border-radius: 3px;
    display: inline;
}

input:focus {

    border: 2px solid $trellogreen;
}

.field{
    font-size: 1.2em;
    font-color: #fff;
}
.jumbo-sub-text {
    // border: 1px solid red;
    display: block;
    font-size: .5em;
    padding-top: 1em;
    margin-top: 2em;
}

.signup-form {
    padding: 1em 1em;
    margin-top: 2em;
    float: right;
    display: inline-block;
    border-top: rgb(95, 208, 103) 21px solid;
    border-radius: 10px;
    width: 320px;



}
.signup-form:hover {
    background: white;

        .field {
            color: $trellogreen;
    }
}

.login-form {
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    padding: 2em;
    // border: 1px solid black;
    margin-left: 5% auto;
    margin-right: 5% auto;
}

#email {
    margin-left: 4em;
    margin-bottom: 1em;
}

#password {
    margin-bottom: 2em;
    margin-left: 1.6em;
}
#alert {
    margin-left: 2em;
    color: red;
}

.login-title {
    margin-bottom: 1em;
}

.login-button {
    font-size: 1em;
    padding: .5em;
    text-decoration: none;
    display: inline-block;

}

.account-button {
    padding-top: 1.8em;
    padding-left: 1em;
    font-size: 1.2em;
}

.login-submit {
    margin-left: 6.5em;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color:#51a7e8;
    background-color: #F5F5F5;
}

.survey-form  {
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    padding: 2em;
    margin-left: 3em;
    margin-right: 10% auto;
    color: black;
}

#survey_description {
    width: 80%;
}

label {
    color: #fff;
}

.header-logo:hover {
    color: #51a7e8;
}


.header-nav-item:hover {
    color: #51a7e8;
}


.right-nav-item {
    display: inline-block;
    padding: .2em;
}

.header-nav-right {
    float:right;
    margin-top: -1.8em;
    margin-right: .8em;
}

@media (max-width: 1100px)    {

    .column-right {
        margin-top: 2em;
        width: 620px;
        margin-left: 5% auto;
        margin-right: 20% auto;
        float: left;
        padding-left: 2em;

    }

    .column-left .jumbotron {
        height: 300px;
    }
    .field {
        color: $backgroundpurple;
    }

}
