// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//hopefully this is where all the new survey related scss will go:
$backgroundpurple: rgb(104, 83, 205);
$trellogreen: rgb(75, 192, 103);
$githubblue: #51a7e8;
$headerGray: #F5F5F5;


.userRibbon{
  padding: 20px;
  background: rgb(104, 83, 205);
  height: 225px;
  box-sizing: border-box;
  .avatar{
    margin-left: 40px;
  }
}

.Question{
  padding: 10px;
  background: $headerGray;
  border: 2px $backgroundpurple solid;
  border-radius: 5px;
  width: 60%;
  margin-left:20%;
  text-align: center;
}



#newSurBtn{

}

#newQbtn{

}

.btn{
  color: #000;
  margin-top: -5px;
  display: inline-block;
  font-size: 1em;
  text-align: center;
  vertical-align:middle;
  width: 200px;
  height: 25px;
  background: #F5F5F5;
  border: #48398f 2px solid;
  padding-top: 12px;
}
.btn:hover{
  color: #51a7e8;
}

.off{
  display: none;
}

// #newSurvey{
//   margin-top:20%;
//
//   .field{
//       font-size: 1.2em;
//       color: #000;
//   }
// }
.btnBank{
  margin-left: 5%;
}

.survey-form{
  text-align:center;

  form{
    padding: 10px;
    background: $headerGray;
    border: 2px $backgroundpurple solid;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  label{
    color: black;
  }
}
