// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//hopefully this is where all the new survey related scss will go:
$backgroundpurple: rgb(104, 83, 205);
$trellogreen: rgb(75, 192, 103);
$githubblue: #51a7e8;
$headerGray: #F5F5F5;

.userRibbon{
  padding: 20px;
  background: rgb(104, 83, 205);
  height: 225px;
  box-sizing: border-box;
  li{
    display: inline-block;
    float: left;
    width:75px;
    height:75px;
    background: $headerGray;
    margin: 5px;
    word-wrap: break-word;

  }
  .avatar{
    margin-left: 40px;
  }
}

.newQL{
  width: 10%;
  float: left;
}


.newQR{
  margin-top: -25px;
  width: 20px;
  float: right;
  border-radius: 30px;
  .fa-times{
    color: red;
  }
  .fa-caret-down{
    color: rgb(104, 83, 205);
  }
  .fa-caret-up{
    color: rgb(104, 83, 205);
  }
  .fa-times:hover{
    color: #ff7d7d;
  }
  .fa-caret-down:hover{
    color: rgb(163, 146, 247);
  }
  .fa-caret-up:hover{
    color: rgb(163, 146, 247);
  }
  #check{
    display: none;
  }
  #check:checked +.almostfield{
    border: 2px red solid;
  }
}
.newQMid{
 margin-top: 30px;
 width:40%;
 background: blue;
}


.Question{
  padding: 10px;
  background: $headerGray;
  border: 2px $backgroundpurple solid;
  border-radius: 5px;
  width: 80%;
  margin-left:9%;
  text-align: center;
}

#surveySubmitBtn{
  margin-top: .5%;
  margin-left: 30%;

}
#newQBtn{
  margin-top: .5%;
  margin-left: 50%;
}

.btn{
  color: #000;
  margin-top: -5px;
  display: inline-block;
  font-size: 1em;
  text-align: center;
  vertical-align:middle;
  width: 200px;
  height: 25px;
  background: #F5F5F5;
  border: #48398f 2px solid;
  padding-top: 12px;
}
.btn:hover{
  color: #51a7e8;
}

.off{
  display: none;
}

// #newSurvey{
//   margin-top:20%;
//
//   .field{
//       font-size: 1.2em;
//       color: #000;
//   }
// }
.userBtnBank{
  margin-left: 5%;
}

.almostField{
    text-align:center;
      padding: 10px;
      background: $headerGray;
      border: 2px $backgroundpurple solid;
      border-radius: 5px;
      width: 90%;
      margin-top: 20px;
      margin-left: 4%;
      text-align: center;
      margin-bottom: 25px;
}

// .survey-form{
//   text-align:center;
//   form{
//     padding: 10px;
//     background: blue;
//     border: 2px $backgroundpurple solid;
//     border-radius: 5px;
//     width: 90%;
//     margin-top: 20px;
//     margin-left: 4%;
//     text-align: center;
//     margin-bottom: 25px;
//   }

  label{
    color: black;
  }
//}
