// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//hopefully this is where all the new survey related scss will go:
.Question{
  background: #5FD067;
  border: 2px #ddd solid;
  border-radius: 5px;
}

#newSurBtn{

}

#newQbtn{

}

.btn{
  width: 200px;
  height: 50px;
  background: rgb(86, 213, 91);
}

.off{
  display: none;
}

#newSurvey{}
